body{
	font-family: 'Droid Sans', sans-serif;
	margin:0px;
}

.activeNav{
	border-bottom: 5px solid black;
}

.pageColor hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
	position:absolute;
	bottom: 0px;
	margin-left:3.5%;
}

.flexContainer {
	display: flex;
	flex-direction: column;
	margin-top:50.5px;
}

.subPage {
	z-index: 1;
	flex: 1 0 auto;
	flex-direction: column;
	min-height: 500px;

}

.subPage:nth-child(even){
	background-color: #f5f7f9;
}


.nav li{
	display:inline-block;
	text-align: center;
}

.nav ul{
	padding:0px;
}

.nav a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.nav a:hover{
	background-color: rgba(220, 220, 220, 0.34);
}

.imgAndInfoContainer{
	padding: 0px 0px 50px 0px;
}

.excerpt{
	margin: 20px auto auto auto;
	max-width:400px;
	width:calc(100% -40px);
	padding: 20;
	background-color: rgba(220, 220, 220, 0.44);
	opacity:.8;
}


.nav{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%;
	z-index:2;
}

.otherWorkTitle{
	margin-bottom: -3px;
    font-weight: 600;
}


.viewExcerpt{
	 background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
	 text-decoration: underline;
     cursor: pointer;
}

.otherWorkButtonsContainer{
	color:#3399CC;
}

.source{
	color:inherit;
}

.otherWorkContainer{
	width:600px;
	margin:auto;
    line-height: 1.875;
}


.excerptContainer{
	display: inline-block;
    width: 100px;
    margin-left:20px;
}

@media screen and (max-width: 825px){
.otherWorkContainer{
	width:90%;
	margin:auto;
}

}

@media screen and (max-width: 500px){
body {
    font: 14px "Lucida Grande", Helvetica, Arial;
    position:absolute;
}
}

 