

.imgContainer{
	flex-basis: calc(40%);
	min-width: 400px;
	width: 400px;
	margin:auto;

}

.imgContainer img{
	display:block;
}

.infoContainer{
	flex-basis: calc(40%);
	min-width: 400px;
	margin:auto;


}

.title{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.info{
	word-wrap: break-word;
	width:400px;
	line-height: 1.875;
}

.links{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.links a{
	color: #3399CC;
}

.imgAndInfoContent{
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}


.rightImg{
	order: 2;
}

.leftContentContainer{
	margin-right:auto;
	width: 400px;
}

.rightContentContainer{
	margin-left:auto;
	width: 400px;
}

@media screen and (max-width: 865px) and (min-width:426px){
	.infoContainer{
		order: 3;
		flex:0 0 auto;
	}

.leftContentContainer{
	margin:auto;

}

.rightContentContainer{
	margin:auto;

}

.info{
	word-wrap: break-word;
	width:90%;
	line-height: 1.875;
}



	.imgAndInfoContent{
	display:flex;
	flex:0 0 auto;
	flex-direction:column;
	justify-content:space-between;
}

	.imgContainer img{
	display:block;
	margin: auto;
}

	.imgContainer{
		flex-basis: calc(40%);
		flex:0 0 auto;
		margin:auto;
		padding-bottom:50px !important;
	}
}

@media screen and (max-width: 500px){
	.infoContainer{
		order: 3;
	}

		.imgContainer img{
	display:block;
	margin: auto;
}

	.imgAndInfoContent{
	display:flex;
	-webkit-flex: 1 1 auto;
	flex-direction:column;
	justify-content:space-between;
}

	.imgContainer{
		flex-basis: calc(40%);
		margin:auto;
		padding-bottom:50px !important;
	}

	.leftContentContainer{
		width:80%;
		margin:auto;
}

.rightContentContainer{
		width:80%;
		margin:auto;
}

.info{
	word-wrap: break-word;
	width:90%;


}

.imgContainer{
	flex-basis: calc(40%);
	width: 100%;
	margin:auto;

}

}

