

.imgContainer{
	flex-basis: calc(40%);
	min-width: 400px;
	width: 400px;
	margin:auto;

}

.imgContainer img{
	display:block;
}

.infoContainer{
	flex-basis: calc(40%);
	min-width: 400px;
	margin:auto;

}

.title{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.info{
	word-wrap: break-word;
	width:400px;


}

.links{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.imgAndInfoContent{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}


.rightImg{
	order: 2;
}

.leftContentContainer{
	margin-right:auto;
	width: 400px;
}

.rightContentContainer{
	margin-left:auto;
	width: 400px;
}

@media screen and (max-width: 850px) and (min-width:426px){
	.infoContainer{
		order: 3;
	}

	.imgContainer img{
	display:block;
	margin: auto;
}

	.imgContainer{
		flex-basis: calc(40%);
		min-width: 400px;
		width: 400px;
		margin:auto;
		padding-bottom:50px !important;
	}
}

@media screen and (max-width: 425px){
	.infoContainer{
		order: 3;
	}

		.imgContainer img{
	display:block;
	margin: auto;
}

	.imgContainer{
		flex-basis: calc(40%);
		min-width: 400px;
		width: 400px;
		margin:auto;
		padding-bottom:50px !important;
	}

	.leftContentContainer{

		width:80%;
		margin:auto;
}

.rightContentContainer{
		width:80%;
		margin:auto;
}

.info{
	word-wrap: break-word;
	width:100%;


}

.imgContainer{
	flex-basis: calc(40%);
	width: 100%;
	margin:auto;

}

}

