

.styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d{
	flex-basis: calc(40%);
	min-width: 400px;
	width: 400px;
	margin:auto;

}

.styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d img{
	display:block;
}

.styles__styles__styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku___3i751___z4SEw{
	flex-basis: calc(40%);
	min-width: 400px;
	margin:auto;


}

.styles__styles__styles__styles__ImgAndInfo__title___2TVeQ___zDdSI___nv72-___1L4_q___1ecGG{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.styles__styles__styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn___2OWbC___1X6Mg{
	word-wrap: break-word;
	width:400px;
	line-height: 1.875;
}

.styles__styles__styles__styles__ImgAndInfo__links___doS-b___2Tcfo___1BgDc___2YoCA___2ieak{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.styles__styles__styles__styles__ImgAndInfo__links___doS-b___2Tcfo___1BgDc___2YoCA___2ieak a{
	color: #3399CC;
}

.styles__styles__styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm___lAYmx___14z0c{
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}


.styles__styles__styles__styles__ImgAndInfo__rightImg___3tmZl___2R_fS___-gcZG___3NTle___dCZ4r{
	order: 2;
}

.styles__styles__styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM___3Nibp___2xzUP{
	margin-right:auto;
	width: 400px;
}

.styles__styles__styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ___yNwsw___tXi5P{
	margin-left:auto;
	width: 400px;
}

@media screen and (max-width: 865px) and (min-width:426px){
	.styles__styles__styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku___3i751___z4SEw{
		order: 3;
		flex:0 0 auto;
	}

.styles__styles__styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM___3Nibp___2xzUP{
	margin:auto;

}

.styles__styles__styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ___yNwsw___tXi5P{
	margin:auto;

}

.styles__styles__styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn___2OWbC___1X6Mg{
	word-wrap: break-word;
	width:90%;
	line-height: 1.875;
}



	.styles__styles__styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm___lAYmx___14z0c{
	display:flex;
	flex:0 0 auto;
	flex-direction:column;
	justify-content:space-between;
}

	.styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d img{
	display:block;
	margin: auto;
}

	.styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d{
		flex-basis: calc(40%);
		flex:0 0 auto;
		margin:auto;
		padding-bottom:50px !important;
	}
}

@media screen and (max-width: 500px){
	.styles__styles__styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku___3i751___z4SEw{
		order: 3;
	}

		.styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d img{
	display:block;
	margin: auto;
}

	.styles__styles__styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm___lAYmx___14z0c{
	display:flex;
	-webkit-flex: 1 1 auto;
	flex-direction:column;
	justify-content:space-between;
}

	.styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d{
		flex-basis: calc(40%);
		margin:auto;
		padding-bottom:50px !important;
	}

	.styles__styles__styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM___3Nibp___2xzUP{
		width:80%;
		margin:auto;
}

.styles__styles__styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ___yNwsw___tXi5P{
		width:80%;
		margin:auto;
}

.styles__styles__styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn___2OWbC___1X6Mg{
	word-wrap: break-word;
	width:90%;


}

.styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d{
	flex-basis: calc(40%);
	width: 100%;
	margin:auto;

}

}

body{
	font-family: 'Droid Sans', sans-serif;
	margin:0px;
}

.styles__styles__styles__styles__App__activeNav___3FONz___lxsY5___JDRN8___3iG16___2CbEr{
	border-bottom: 5px solid black;
}

.styles__styles__styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM___ldRPg___1rg_Q hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
	position:absolute;
	bottom: 0px;
	margin-left:3.5%;
}

.styles__styles__styles__styles__App__flexContainer___wvrxn___3nV4F___8yv9l___1mixa___1DZb6 {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.styles__styles__styles__styles__App__subPage___3ouZj___3MH-H___2ehRK___GqqVT___Y5knY {
	z-index: 1;
	flex: 1 0 auto;
	flex-direction: column;
	min-height: 500px;
}

.styles__styles__styles__styles__App__subPage___3ouZj___3MH-H___2ehRK___GqqVT___Y5knY:nth-child(even){
background-color: #f5f7f9;
}


.styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av li{
	display:inline-block;
	text-align: center;

}

.styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av ul{
	padding:0px;
}

.styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av a:hover{
	background-color: rgba(220, 220, 220, 0.34);
}

.styles__styles__styles__styles__App__imgAndInfoContainer___2PCBa___3BMLh___rG3Jo___-IxGC___2zFEB{
padding: 0px 0px 50px 0px;


}

.styles__styles__styles__styles__App__excerpt___18TvV___39P8J___2oYDc___1rDLp___31w0N{
	margin: 20px auto auto auto;
	max-width:400px;
	width:calc(100% -40px);
	padding: 20;
	background-color: rgba(220, 220, 220, 0.44);
	opacity:.8;
}


.styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%;
	z-index:2;
}

.styles__styles__styles__styles__App__otherWorkTitle___2BptL___3C8jL___MWtBF___9wFEe___2tMxp{
	 margin-bottom: -3px;
    font-weight: 600;
}


.styles__styles__styles__styles__App__viewExcerpt___1SXP____1B7ux___B9Yxv___qmzJZ___3ErkU{
	 background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
	 text-decoration: underline;
     cursor: pointer;
}

.styles__styles__styles__styles__App__otherWorkButtonsContainer___3dNOr___2qkSR___2SWhV___1213c___2PY4y{
	color:#3399CC;
}

.styles__styles__styles__styles__App__source___1ZPdt___3LA6F___2x5t8___3q61____FTVF8{
	color:inherit;
}

.styles__styles__styles__styles__App__otherWorkContainer___2NwVI___2e5wm___9dCge___1_7PH___3jirP{
	width:600px;
	margin:auto;
    line-height: 1.875;
}


.styles__styles__styles__styles__App__excerptContainer___2dDkc___1SgK8___I07qq___-DswI___2VGX5{
	display: inline-block;
    width: 100px;
    margin-left:20px;
}

@media screen and (max-width: 825px){
.styles__styles__styles__styles__App__otherWorkContainer___2NwVI___2e5wm___9dCge___1_7PH___3jirP{
	width:90%;
	margin:auto;
}

}

 .styles__styles__styles__styles__CenterItem__centerItem___2PcSs___numLx___koCLx___3uKDs___2uE0O{
	width: calc(90%);
	margin:auto;
	text-align: center;
	margin-bottom:50px;
}

.styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI{
	flex-basis: calc(40%);
	min-width: 400px;
	width: 400px;
	margin:auto;

}

.styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI img{
	display:block;
}

.styles__styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku___3i751{
	flex-basis: calc(40%);
	min-width: 400px;
	margin:auto;


}

.styles__styles__styles__ImgAndInfo__title___2TVeQ___zDdSI___nv72-___1L4_q{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.styles__styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn___2OWbC{
	word-wrap: break-word;
	width:400px;
	line-height: 1.875;
}

.styles__styles__styles__ImgAndInfo__links___doS-b___2Tcfo___1BgDc___2YoCA{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.styles__styles__styles__ImgAndInfo__links___doS-b___2Tcfo___1BgDc___2YoCA a{
	color: #3399CC;
}

.styles__styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm___lAYmx{
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}


.styles__styles__styles__ImgAndInfo__rightImg___3tmZl___2R_fS___-gcZG___3NTle{
	order: 2;
}

.styles__styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM___3Nibp{
	margin-right:auto;
	width: 400px;
}

.styles__styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ___yNwsw{
	margin-left:auto;
	width: 400px;
}

@media screen and (max-width: 865px) and (min-width:426px){
	.styles__styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku___3i751{
		order: 3;
		flex:0 0 auto;
	}

.styles__styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM___3Nibp{
	margin:auto;

}

.styles__styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ___yNwsw{
	margin:auto;

}

.styles__styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn___2OWbC{
	word-wrap: break-word;
	width:90%;
	line-height: 1.875;
}



	.styles__styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm___lAYmx{
	display:flex;
	flex:0 0 auto;
	flex-direction:column;
	justify-content:space-between;
}

	.styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI img{
	display:block;
	margin: auto;
}

	.styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI{
		flex-basis: calc(40%);
		flex:0 0 auto;
		margin:auto;
		padding-bottom:50px !important;
	}
}

@media screen and (max-width: 500px){
	.styles__styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku___3i751{
		order: 3;
	}

		.styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI img{
	display:block;
	margin: auto;
}

	.styles__styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm___lAYmx{
	display:flex;
	-webkit-flex: 1 1 auto;
	flex-direction:column;
	justify-content:space-between;
}

	.styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI{
		flex-basis: calc(40%);
		margin:auto;
		padding-bottom:50px !important;
	}

	.styles__styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM___3Nibp{
		width:80%;
		margin:auto;
}

.styles__styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ___yNwsw{
		width:80%;
		margin:auto;
}

.styles__styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn___2OWbC{
	word-wrap: break-word;
	width:90%;


}

.styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI{
	flex-basis: calc(40%);
	width: 100%;
	margin:auto;

}

}

body{
	font-family: 'Droid Sans', sans-serif;
	margin:0px;
}

.styles__styles__styles__App__activeNav___3FONz___lxsY5___JDRN8___3iG16{
	border-bottom: 5px solid black;
}

.styles__styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM___ldRPg hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
	position:absolute;
	bottom: 0px;
	margin-left:3.5%;
}

.styles__styles__styles__App__flexContainer___wvrxn___3nV4F___8yv9l___1mixa {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.styles__styles__styles__App__subPage___3ouZj___3MH-H___2ehRK___GqqVT {
	z-index: 1;
	flex: 1 0 auto;
	flex-direction: column;
	min-height: 500px;
}

.styles__styles__styles__App__subPage___3ouZj___3MH-H___2ehRK___GqqVT:nth-child(even){
background-color: #f5f7f9;
}


.styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR li{
	display:inline-block;
	text-align: center;

}

.styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR ul{
	padding:0px;
}

.styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR a:hover{
	background-color: rgba(220, 220, 220, 0.34);
}

.styles__styles__styles__App__imgAndInfoContainer___2PCBa___3BMLh___rG3Jo___-IxGC{
padding: 0px 0px 50px 0px;


}

.styles__styles__styles__App__excerpt___18TvV___39P8J___2oYDc___1rDLp{
	margin: 20px auto auto auto;
	max-width:400px;
	width:calc(100% -40px);
	padding: 20;
	background-color: rgba(220, 220, 220, 0.44);
	opacity:.8;
}


.styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%;
	z-index:2;
}

.styles__styles__styles__App__otherWorkTitle___2BptL___3C8jL___MWtBF___9wFEe{
	 margin-bottom: -3px;
    font-weight: 600;
}


.styles__styles__styles__App__viewExcerpt___1SXP____1B7ux___B9Yxv___qmzJZ{
	 background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
	 text-decoration: underline;
     cursor: pointer;
}

.styles__styles__styles__App__otherWorkButtonsContainer___3dNOr___2qkSR___2SWhV___1213c{
	color:#3399CC;
}

.styles__styles__styles__App__source___1ZPdt___3LA6F___2x5t8___3q61_{
	color:inherit;
}

.styles__styles__styles__App__otherWorkContainer___2NwVI___2e5wm___9dCge___1_7PH{
	width:600px;
	margin:auto;
    line-height: 1.875;
}


.styles__styles__styles__App__excerptContainer___2dDkc___1SgK8___I07qq___-DswI{
	display: inline-block;
    width: 100px;
    margin-left:20px;
}

@media screen and (max-width: 825px){
.styles__styles__styles__App__otherWorkContainer___2NwVI___2e5wm___9dCge___1_7PH{
	width:90%;
	margin:auto;
}

}

 .styles__styles__styles__CenterItem__centerItem___2PcSs___numLx___koCLx___3uKDs{
	width: calc(90%);
	margin:auto;
	text-align: center;
	margin-bottom:50px;
}

.styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg{
	flex-basis: calc(40%);
	min-width: 400px;
	width: 400px;
	margin:auto;

}

.styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg img{
	display:block;
}

.styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku{
	flex-basis: calc(40%);
	min-width: 400px;
	margin:auto;


}

.styles__styles__ImgAndInfo__title___2TVeQ___zDdSI___nv72-{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn{
	word-wrap: break-word;
	width:400px;
	line-height: 1.875;
}

.styles__styles__ImgAndInfo__links___doS-b___2Tcfo___1BgDc{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.styles__styles__ImgAndInfo__links___doS-b___2Tcfo___1BgDc a{
	color: #3399CC;
}

.styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm{
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}


.styles__styles__ImgAndInfo__rightImg___3tmZl___2R_fS___-gcZG{
	order: 2;
}

.styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM{
	margin-right:auto;
	width: 400px;
}

.styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ{
	margin-left:auto;
	width: 400px;
}

@media screen and (max-width: 865px) and (min-width:426px){
	.styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku{
		order: 3;
		flex:0 0 auto;
	}

.styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM{
	margin:auto;

}

.styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ{
	margin:auto;

}

.styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn{
	word-wrap: break-word;
	width:90%;
	line-height: 1.875;
}



	.styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm{
	display:flex;
	flex:0 0 auto;
	flex-direction:column;
	justify-content:space-between;
}

	.styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg img{
	display:block;
	margin: auto;
}

	.styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg{
		flex-basis: calc(40%);
		flex:0 0 auto;
		margin:auto;
		padding-bottom:50px !important;
	}
}

@media screen and (max-width: 500px){
	.styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku{
		order: 3;
	}

		.styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg img{
	display:block;
	margin: auto;
}

	.styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm{
	display:flex;
	-webkit-flex: 1 1 auto;
	flex-direction:column;
	justify-content:space-between;
}

	.styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg{
		flex-basis: calc(40%);
		margin:auto;
		padding-bottom:50px !important;
	}

	.styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM{
		width:80%;
		margin:auto;
}

.styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ{
		width:80%;
		margin:auto;
}

.styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn{
	word-wrap: break-word;
	width:90%;


}

.styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg{
	flex-basis: calc(40%);
	width: 100%;
	margin:auto;

}

}

body{
	font-family: 'Droid Sans', sans-serif;
	margin:0px;
}

.styles__styles__App__activeNav___3FONz___lxsY5___JDRN8{
	border-bottom: 5px solid black;
}

.styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
	position:absolute;
	bottom: 0px;
	margin-left:3.5%;
}

.styles__styles__App__flexContainer___wvrxn___3nV4F___8yv9l {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.styles__styles__App__subPage___3ouZj___3MH-H___2ehRK {
	z-index: 1;
	flex: 1 0 auto;
	flex-direction: column;
	min-height: 500px;
}

.styles__styles__App__subPage___3ouZj___3MH-H___2ehRK:nth-child(even){
background-color: #f5f7f9;
}


.styles__styles__App__nav___1gmOw___3lxSq___2XZ45 li{
	display:inline-block;
	text-align: center;

}

.styles__styles__App__nav___1gmOw___3lxSq___2XZ45 ul{
	padding:0px;
}

.styles__styles__App__nav___1gmOw___3lxSq___2XZ45 a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.styles__styles__App__nav___1gmOw___3lxSq___2XZ45 a:hover{
	background-color: rgba(220, 220, 220, 0.34);
}

.styles__styles__App__imgAndInfoContainer___2PCBa___3BMLh___rG3Jo{
padding: 0px 0px 50px 0px;


}

.styles__styles__App__excerpt___18TvV___39P8J___2oYDc{
	margin: 20px auto auto auto;
	max-width:400px;
	width:calc(100% -40px);
	padding: 20;
	background-color: rgba(220, 220, 220, 0.44);
	opacity:.8;
}


.styles__styles__App__nav___1gmOw___3lxSq___2XZ45{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%;
	z-index:2;
}

.styles__styles__App__otherWorkTitle___2BptL___3C8jL___MWtBF{
	 margin-bottom: -3px;
    font-weight: 600;
}


.styles__styles__App__viewExcerpt___1SXP____1B7ux___B9Yxv{
	 background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
	 text-decoration: underline;
     cursor: pointer;
}

.styles__styles__App__otherWorkButtonsContainer___3dNOr___2qkSR___2SWhV{
	color:#3399CC;
}

.styles__styles__App__source___1ZPdt___3LA6F___2x5t8{
	color:inherit;
}

.styles__styles__App__otherWorkContainer___2NwVI___2e5wm___9dCge{
	width:600px;
	margin:auto;
    line-height: 1.875;
}


.styles__styles__App__excerptContainer___2dDkc___1SgK8___I07qq{
	display: inline-block;
    width: 100px;
    margin-left:20px;
}

@media screen and (max-width: 825px){
.styles__styles__App__otherWorkContainer___2NwVI___2e5wm___9dCge{
	width:90%;
	margin:auto;
}

}

 .styles__styles__CenterItem__centerItem___2PcSs___numLx___koCLx{
	width: calc(90%);
	margin:auto;
	text-align: center;
	margin-bottom:50px;
}

.styles__ImgAndInfo__imgContainer___1LTNr___3caaL{
	flex-basis: calc(40%);
	min-width: 400px;
	width: 400px;
	margin:auto;

}

.styles__ImgAndInfo__imgContainer___1LTNr___3caaL img{
	display:block;
}

.styles__ImgAndInfo__infoContainer___fQ6sb___19xC6{
	flex-basis: calc(40%);
	min-width: 400px;
	margin:auto;


}

.styles__ImgAndInfo__title___2TVeQ___zDdSI{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.styles__ImgAndInfo__info___1JFjn___68Yx9{
	word-wrap: break-word;
	width:400px;
	line-height: 1.875;
}

.styles__ImgAndInfo__links___doS-b___2Tcfo{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.styles__ImgAndInfo__links___doS-b___2Tcfo a{
	color: #3399CC;
}

.styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B{
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}


.styles__ImgAndInfo__rightImg___3tmZl___2R_fS{
	order: 2;
}

.styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO{
	margin-right:auto;
	width: 400px;
}

.styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m{
	margin-left:auto;
	width: 400px;
}

@media screen and (max-width: 865px) and (min-width:426px){
	.styles__ImgAndInfo__infoContainer___fQ6sb___19xC6{
		order: 3;
		flex:0 0 auto;
	}

.styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO{
	margin:auto;

}

.styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m{
	margin:auto;

}

.styles__ImgAndInfo__info___1JFjn___68Yx9{
	word-wrap: break-word;
	width:90%;
	line-height: 1.875;
}



	.styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B{
	display:flex;
	flex:0 0 auto;
	flex-direction:column;
	justify-content:space-between;
}

	.styles__ImgAndInfo__imgContainer___1LTNr___3caaL img{
	display:block;
	margin: auto;
}

	.styles__ImgAndInfo__imgContainer___1LTNr___3caaL{
		flex-basis: calc(40%);
		flex:0 0 auto;
		margin:auto;
		padding-bottom:50px !important;
	}
}

@media screen and (max-width: 500px){
	.styles__ImgAndInfo__infoContainer___fQ6sb___19xC6{
		order: 3;
	}

		.styles__ImgAndInfo__imgContainer___1LTNr___3caaL img{
	display:block;
	margin: auto;
}

	.styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B{
	display:flex;
	-webkit-flex: 1 1 auto;
	flex-direction:column;
	justify-content:space-between;
}

	.styles__ImgAndInfo__imgContainer___1LTNr___3caaL{
		flex-basis: calc(40%);
		margin:auto;
		padding-bottom:50px !important;
	}

	.styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO{
		width:80%;
		margin:auto;
}

.styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m{
		width:80%;
		margin:auto;
}

.styles__ImgAndInfo__info___1JFjn___68Yx9{
	word-wrap: break-word;
	width:90%;


}

.styles__ImgAndInfo__imgContainer___1LTNr___3caaL{
	flex-basis: calc(40%);
	width: 100%;
	margin:auto;

}

}

body{
	font-family: 'Droid Sans', sans-serif;
	margin:0px;
}

.styles__App__activeNav___3FONz___lxsY5{
	border-bottom: 5px solid black;
}

.styles__App__pageColor___2s9Lb___9UBwq hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
	position:absolute;
	bottom: 0px;
	margin-left:3.5%;
}

.styles__App__flexContainer___wvrxn___3nV4F {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.styles__App__subPage___3ouZj___3MH-H {
	z-index: 1;
	flex: 1 0 auto;
	flex-direction: column;
	min-height: 500px;
}

.styles__App__subPage___3ouZj___3MH-H:nth-child(even){
background-color: #f5f7f9;
}


.styles__App__nav___1gmOw___3lxSq li{
	display:inline-block;
	text-align: center;

}

.styles__App__nav___1gmOw___3lxSq ul{
	padding:0px;
}

.styles__App__nav___1gmOw___3lxSq a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.styles__App__nav___1gmOw___3lxSq a:hover{
	background-color: rgba(220, 220, 220, 0.34);
}

.styles__App__imgAndInfoContainer___2PCBa___3BMLh{
padding: 0px 0px 50px 0px;


}

.styles__App__excerpt___18TvV___39P8J{
	margin: 20px auto auto auto;
	max-width:400px;
	width:calc(100% -40px);
	padding: 20;
	background-color: rgba(220, 220, 220, 0.44);
	opacity:.8;
}


.styles__App__nav___1gmOw___3lxSq{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%;
	z-index:2;
}

.styles__App__otherWorkTitle___2BptL___3C8jL{
	 margin-bottom: -3px;
    font-weight: 600;
}


.styles__App__viewExcerpt___1SXP____1B7ux{
	 background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
	 text-decoration: underline;
     cursor: pointer;
}

.styles__App__otherWorkButtonsContainer___3dNOr___2qkSR{
	color:#3399CC;
}

.styles__App__source___1ZPdt___3LA6F{
	color:inherit;
}

.styles__App__otherWorkContainer___2NwVI___2e5wm{
	width:600px;
	margin:auto;
    line-height: 1.875;
}


.styles__App__excerptContainer___2dDkc___1SgK8{
	display: inline-block;
    width: 100px;
    margin-left:20px;
}

@media screen and (max-width: 825px){
.styles__App__otherWorkContainer___2NwVI___2e5wm{
	width:90%;
	margin:auto;
}

}

 .styles__CenterItem__centerItem___2PcSs___numLx{
	width: calc(90%);
	margin:auto;
	text-align: center;
	margin-bottom:50px;
}

.ImgAndInfo__imgContainer___1LTNr{
	flex-basis: calc(40%);
	min-width: 400px;
	width: 400px;
	margin:auto;

}

.ImgAndInfo__imgContainer___1LTNr img{
	display:block;
}

.ImgAndInfo__infoContainer___fQ6sb{
	flex-basis: calc(40%);
	min-width: 400px;
	margin:auto;


}

.ImgAndInfo__title___2TVeQ{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.ImgAndInfo__info___1JFjn{
	word-wrap: break-word;
	width:400px;
	line-height: 1.875;
}

.ImgAndInfo__links___doS-b{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.ImgAndInfo__links___doS-b a{
	color: #3399CC;
}

.ImgAndInfo__imgAndInfoContent___2bJ8S{
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}


.ImgAndInfo__rightImg___3tmZl{
	order: 2;
}

.ImgAndInfo__leftContentContainer___2Jt6X{
	margin-right:auto;
	width: 400px;
}

.ImgAndInfo__rightContentContainer___1zNc4{
	margin-left:auto;
	width: 400px;
}

@media screen and (max-width: 865px) and (min-width:426px){
	.ImgAndInfo__infoContainer___fQ6sb{
		order: 3;
		flex:0 0 auto;
	}

.ImgAndInfo__leftContentContainer___2Jt6X{
	margin:auto;

}

.ImgAndInfo__rightContentContainer___1zNc4{
	margin:auto;

}

.ImgAndInfo__info___1JFjn{
	word-wrap: break-word;
	width:90%;
	line-height: 1.875;
}



	.ImgAndInfo__imgAndInfoContent___2bJ8S{
	display:flex;
	flex:0 0 auto;
	flex-direction:column;
	justify-content:space-between;
}

	.ImgAndInfo__imgContainer___1LTNr img{
	display:block;
	margin: auto;
}

	.ImgAndInfo__imgContainer___1LTNr{
		flex-basis: calc(40%);
		flex:0 0 auto;
		margin:auto;
		padding-bottom:50px !important;
	}
}

@media screen and (max-width: 500px){
	.ImgAndInfo__infoContainer___fQ6sb{
		order: 3;
	}

		.ImgAndInfo__imgContainer___1LTNr img{
	display:block;
	margin: auto;
}

	.ImgAndInfo__imgAndInfoContent___2bJ8S{
	display:flex;
	-webkit-flex: 1 1 auto;
	flex-direction:column;
	justify-content:space-between;
}

	.ImgAndInfo__imgContainer___1LTNr{
		flex-basis: calc(40%);
		margin:auto;
		padding-bottom:50px !important;
	}

	.ImgAndInfo__leftContentContainer___2Jt6X{
		width:80%;
		margin:auto;
}

.ImgAndInfo__rightContentContainer___1zNc4{
		width:80%;
		margin:auto;
}

.ImgAndInfo__info___1JFjn{
	word-wrap: break-word;
	width:90%;


}

.ImgAndInfo__imgContainer___1LTNr{
	flex-basis: calc(40%);
	width: 100%;
	margin:auto;

}

}

body{
	font-family: 'Droid Sans', sans-serif;
	margin:0px;
}

.App__activeNav___3FONz{
	border-bottom: 5px solid black;
}

.App__pageColor___2s9Lb hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
	position:absolute;
	bottom: 0px;
	margin-left:3.5%;
}

.App__flexContainer___wvrxn {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.App__subPage___3ouZj {
	z-index: 1;
	flex: 1 0 auto;
	flex-direction: column;
	min-height: 500px;
}

.App__subPage___3ouZj:nth-child(even){
background-color: #f5f7f9;
}


.App__nav___1gmOw li{
	display:inline-block;
	text-align: center;

}

.App__nav___1gmOw ul{
	padding:0px;
}

.App__nav___1gmOw a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.App__nav___1gmOw a:hover{
	background-color: rgba(220, 220, 220, 0.34);
}

.App__imgAndInfoContainer___2PCBa{
padding: 0px 0px 50px 0px;


}

.App__excerpt___18TvV{
	margin: 20px auto auto auto;
	max-width:400px;
	width:calc(100% -40px);
	padding: 20;
	background-color: rgba(220, 220, 220, 0.44);
	opacity:.8;
}


.App__nav___1gmOw{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%;
	z-index:2;
}

.App__otherWorkTitle___2BptL{
	 margin-bottom: -3px;
    font-weight: 600;
}


.App__viewExcerpt___1SXP_{
	 background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
	 text-decoration: underline;
     cursor: pointer;
}

.App__otherWorkButtonsContainer___3dNOr{
	color:#3399CC;
}

.App__source___1ZPdt{
	color:inherit;
}

.App__otherWorkContainer___2NwVI{
	width:600px;
	margin:auto;
    line-height: 1.875;
}


.App__excerptContainer___2dDkc{
	display: inline-block;
    width: 100px;
    margin-left:20px;
}

@media screen and (max-width: 825px){
.App__otherWorkContainer___2NwVI{
	width:90%;
	margin:auto;
}

}

 .CenterItem__centerItem___2PcSs{
	width: calc(90%);
	margin:auto;
	text-align: center;
	margin-bottom:50px;
}