.styles__styles__styles__styles__styles__styles__styles__ImgAndInfo__imgAndInfoContainer___2pt59___1tDp-___1IVY____3phqr___1fW2v___1kgHm___1BrZ0___1ppda{
	display:flex;
	flex-wrap: wrap;


}

.styles__styles__styles__styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d___2uF6z___1MxQC___2nj9c{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__styles__styles__styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d___2uF6z___1MxQC___2nj9c img{
	margin:auto;
	display:block;
}

.styles__styles__styles__styles__styles__styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku___3i751___z4SEw___3qrlQ___3fWxI___ZVKUZ{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__styles__styles__styles__styles__styles__styles__ImgAndInfo__title___2TVeQ___zDdSI___nv72-___1L4_q___1ecGG___W1hmr___21YYV___1afcF{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.styles__styles__styles__styles__styles__styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn___2OWbC___1X6Mg___ezlzF___3oznq___1dkWX{
	word-wrap: break-word;
	width:400px;


}

.styles__styles__styles__styles__styles__styles__styles__ImgAndInfo__links___doS-b___2Tcfo___1BgDc___2YoCA___2ieak___OexC____3BQsQ___26qEM{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.styles__styles__styles__styles__styles__styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm___lAYmx___14z0c___ULFe0____TlQL___3GNA0{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

.styles__styles__styles__styles__styles__styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM___3Nibp___2xzUP___1dyaG___1CWJ2___V6zSz{
	margin-right:auto;
	width: 400px;
}

.styles__styles__styles__styles__styles__styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ___yNwsw___tXi5P___2y14N___3CNQo___17wr7{
margin-left:auto;
	width: 400px;
}



/*@media (max-width: 850px) {*/
	/*.infoContainer{*/
		/*flex-basis: calc(45%);*/
		/*min-width: 400px;*/
		/*margin:auto;*/
	/*}*/

	/*.imgContainer{*/
		/*flex-basis: calc(45%);*/
		/*min-width: 400px;*/
		/*margin:auto;*/
	/*}*/


/*}*/.styles__styles__styles__styles__styles__styles__styles__CenterItem__centerItem___2PcSs___numLx___koCLx___3uKDs___2uE0O___2TYk____d_rRJ___lDv0B{
	width: calc(90%);
	margin:auto;
	text-align: center;
}.styles__styles__styles__styles__styles__styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM___ldRPg___1rg_Q___1W0RI___JDv8l___15E9o{
	/*background-color: #e8e8e8;*/
}

.styles__styles__styles__styles__styles__styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM___ldRPg___1rg_Q___1W0RI___JDv8l___15E9o hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
}

.styles__styles__styles__styles__styles__styles__styles__App__flexContainer___wvrxn___3nV4F___8yv9l___1mixa___1DZb6___yaxps___2wD15___1RBk1 {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.styles__styles__styles__styles__styles__styles__styles__App__subPage___3ouZj___3MH-H___2ehRK___GqqVT___Y5knY___3IEHn___2jIJF___1et4f {
/*border: 1px solid gray;*/
flex-basis: 100%;
margin: 40px 5px 40px 5px;
	/*background-color:paleturquoise;*/
/*column-count: 2;*/
	padding-bottom:40px;
min-height: calc(100vh - 80px);
}

.styles__styles__styles__styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av___2bnpY___1s_cV___t-jC1 li{
	display:inline-block;
	text-align: center;

}

.styles__styles__styles__styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av___2bnpY___1s_cV___t-jC1 a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.styles__styles__styles__styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av___2bnpY___1s_cV___t-jC1 a:hover{
	background-color:pink;
}

.styles__styles__styles__styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av___2bnpY___1s_cV___t-jC1{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%
}.styles__styles__styles__styles__styles__styles__ImgAndInfo__imgAndInfoContainer___2pt59___1tDp-___1IVY____3phqr___1fW2v___1kgHm___1BrZ0{
/*	display:flex;
	flex-wrap: wrap;*/


}

.styles__styles__styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d___2uF6z___1MxQC{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__styles__styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d___2uF6z___1MxQC img{
	margin:auto;
	display:block;
}

.styles__styles__styles__styles__styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku___3i751___z4SEw___3qrlQ___3fWxI{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__styles__styles__styles__styles__styles__ImgAndInfo__title___2TVeQ___zDdSI___nv72-___1L4_q___1ecGG___W1hmr___21YYV{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.styles__styles__styles__styles__styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn___2OWbC___1X6Mg___ezlzF___3oznq{
	word-wrap: break-word;
	width:400px;


}

.styles__styles__styles__styles__styles__styles__ImgAndInfo__links___doS-b___2Tcfo___1BgDc___2YoCA___2ieak___OexC____3BQsQ{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.styles__styles__styles__styles__styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm___lAYmx___14z0c___ULFe0____TlQL{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

.styles__styles__styles__styles__styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM___3Nibp___2xzUP___1dyaG___1CWJ2{
	margin-right:auto;
	width: 400px;
}

.styles__styles__styles__styles__styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ___yNwsw___tXi5P___2y14N___3CNQo{
margin-left:auto;
	width: 400px;
}

.styles__styles__styles__styles__styles__styles__CenterItem__centerItem___2PcSs___numLx___koCLx___3uKDs___2uE0O___2TYk____d_rRJ{
	width: calc(90%);
	margin:auto;
	text-align: center;
}.styles__styles__styles__styles__styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM___ldRPg___1rg_Q___1W0RI___JDv8l{
	/*background-color: #e8e8e8;*/
}

.styles__styles__styles__styles__styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM___ldRPg___1rg_Q___1W0RI___JDv8l hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
}

.styles__styles__styles__styles__styles__styles__App__flexContainer___wvrxn___3nV4F___8yv9l___1mixa___1DZb6___yaxps___2wD15 {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.styles__styles__styles__styles__styles__styles__App__subPage___3ouZj___3MH-H___2ehRK___GqqVT___Y5knY___3IEHn___2jIJF {
/*border: 1px solid gray;*/
flex-basis: 100%;
margin: 40px 5px 40px 5px;
	/*background-color:paleturquoise;*/
/*column-count: 2;*/
	padding-bottom:40px;
min-height: calc(100vh - 80px);
}

.styles__styles__styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av___2bnpY___1s_cV li{
	display:inline-block;
	text-align: center;

}

.styles__styles__styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av___2bnpY___1s_cV a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.styles__styles__styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av___2bnpY___1s_cV a:hover{
	background-color:pink;
}

.styles__styles__styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av___2bnpY___1s_cV{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%
}.styles__styles__styles__styles__styles__ImgAndInfo__imgAndInfoContainer___2pt59___1tDp-___1IVY____3phqr___1fW2v___1kgHm{
/*	display:flex;
	flex-wrap: wrap;*/


}

.styles__styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d___2uF6z{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d___2uF6z img{
	margin:auto;
	display:block;
}

.styles__styles__styles__styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku___3i751___z4SEw___3qrlQ{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__styles__styles__styles__styles__ImgAndInfo__title___2TVeQ___zDdSI___nv72-___1L4_q___1ecGG___W1hmr{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.styles__styles__styles__styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn___2OWbC___1X6Mg___ezlzF{
	word-wrap: break-word;
	width:400px;


}

.styles__styles__styles__styles__styles__ImgAndInfo__links___doS-b___2Tcfo___1BgDc___2YoCA___2ieak___OexC_{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.styles__styles__styles__styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm___lAYmx___14z0c___ULFe0{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

.styles__styles__styles__styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM___3Nibp___2xzUP___1dyaG{
	margin-right:auto;
	width: 400px;
}

.styles__styles__styles__styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ___yNwsw___tXi5P___2y14N{
margin-left:auto;
	width: 400px;
}

.styles__styles__styles__styles__styles__CenterItem__centerItem___2PcSs___numLx___koCLx___3uKDs___2uE0O___2TYk_{
	width: calc(90%);
	margin:auto;
	text-align: center;
}.styles__styles__styles__styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM___ldRPg___1rg_Q___1W0RI{
	/*background-color: #e8e8e8;*/
}

.styles__styles__styles__styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM___ldRPg___1rg_Q___1W0RI hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
}

.styles__styles__styles__styles__styles__App__flexContainer___wvrxn___3nV4F___8yv9l___1mixa___1DZb6___yaxps {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.styles__styles__styles__styles__styles__App__subPage___3ouZj___3MH-H___2ehRK___GqqVT___Y5knY___3IEHn {
/*border: 1px solid gray;*/
flex-basis: 100%;
margin: 40px 5px 40px 5px;
	/*background-color:paleturquoise;*/
/*column-count: 2;*/
	padding-bottom:40px;
min-height: calc(100vh - 80px);
}

.styles__styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av___2bnpY li{
	display:inline-block;
	text-align: center;

}

.styles__styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av___2bnpY a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.styles__styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av___2bnpY a:hover{
	background-color:pink;
}

.styles__styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av___2bnpY{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%
}.styles__styles__styles__styles__ImgAndInfo__imgAndInfoContainer___2pt59___1tDp-___1IVY____3phqr___1fW2v{
/*	display:flex;
	flex-wrap: wrap;*/


}

.styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI___30s7d img{
	margin:auto;
	display:block;
}

.styles__styles__styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku___3i751___z4SEw{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__styles__styles__styles__ImgAndInfo__title___2TVeQ___zDdSI___nv72-___1L4_q___1ecGG{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.styles__styles__styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn___2OWbC___1X6Mg{
	word-wrap: break-word;
	width:400px;


}

.styles__styles__styles__styles__ImgAndInfo__links___doS-b___2Tcfo___1BgDc___2YoCA___2ieak{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.styles__styles__styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm___lAYmx___14z0c{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

.styles__styles__styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM___3Nibp___2xzUP{
	margin-right:auto;
	width: 400px;
}

.styles__styles__styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ___yNwsw___tXi5P{
margin-left:auto;
	width: 400px;
}

.styles__styles__styles__styles__CenterItem__centerItem___2PcSs___numLx___koCLx___3uKDs___2uE0O{
	width: calc(90%);
	margin:auto;
	text-align: center;
}.styles__styles__styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM___ldRPg___1rg_Q{
	/*background-color: #e8e8e8;*/
}

.styles__styles__styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM___ldRPg___1rg_Q hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
}

.styles__styles__styles__styles__App__flexContainer___wvrxn___3nV4F___8yv9l___1mixa___1DZb6 {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.styles__styles__styles__styles__App__subPage___3ouZj___3MH-H___2ehRK___GqqVT___Y5knY {
/*border: 1px solid gray;*/
flex-basis: 100%;
margin: 40px 5px 40px 5px;
	/*background-color:paleturquoise;*/
/*column-count: 2;*/
	padding-bottom:40px;
min-height: calc(100vh - 80px);
}

.styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av li{
	display:inline-block;
	text-align: center;

}

.styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av a:hover{
	background-color:pink;
}

.styles__styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR___3-6av{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%
}.styles__styles__styles__ImgAndInfo__imgAndInfoContainer___2pt59___1tDp-___1IVY____3phqr{
/*	display:flex;
	flex-wrap: wrap;*/


}

.styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg___1W7uI img{
	margin:auto;
	display:block;
}

.styles__styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku___3i751{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__styles__styles__ImgAndInfo__title___2TVeQ___zDdSI___nv72-___1L4_q{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.styles__styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn___2OWbC{
	word-wrap: break-word;
	width:400px;


}

.styles__styles__styles__ImgAndInfo__links___doS-b___2Tcfo___1BgDc___2YoCA{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.styles__styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm___lAYmx{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

.styles__styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM___3Nibp{
	margin-right:auto;
	width: 400px;
}

.styles__styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ___yNwsw{
margin-left:auto;
	width: 400px;
}

.styles__styles__styles__CenterItem__centerItem___2PcSs___numLx___koCLx___3uKDs{
	width: calc(90%);
	margin:auto;
	text-align: center;
}.styles__styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM___ldRPg{
	/*background-color: #e8e8e8;*/
}

.styles__styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM___ldRPg hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
}

.styles__styles__styles__App__flexContainer___wvrxn___3nV4F___8yv9l___1mixa {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.styles__styles__styles__App__subPage___3ouZj___3MH-H___2ehRK___GqqVT {
/*border: 1px solid gray;*/
flex-basis: 100%;
margin: 40px 5px 40px 5px;
	/*background-color:paleturquoise;*/
/*column-count: 2;*/
	padding-bottom:40px;
min-height: calc(100vh - 80px);
}

.styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR li{
	display:inline-block;
	text-align: center;

}

.styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR a:hover{
	background-color:pink;
}

.styles__styles__styles__App__nav___1gmOw___3lxSq___2XZ45___1eadR{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%
}.styles__styles__ImgAndInfo__imgAndInfoContainer___2pt59___1tDp-___1IVY_{
/*	display:flex;
	flex-wrap: wrap;*/


}

.styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__styles__ImgAndInfo__imgContainer___1LTNr___3caaL___36Ovg img{
	margin:auto;
	display:block;
}

.styles__styles__ImgAndInfo__infoContainer___fQ6sb___19xC6___1QNku{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__styles__ImgAndInfo__title___2TVeQ___zDdSI___nv72-{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.styles__styles__ImgAndInfo__info___1JFjn___68Yx9___2NJNn{
	word-wrap: break-word;
	width:400px;


}

.styles__styles__ImgAndInfo__links___doS-b___2Tcfo___1BgDc{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.styles__styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B___3SCNm{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

.styles__styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO___3N1OM{
	margin-right:auto;
	width: 400px;
}

.styles__styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m___2OwhZ{
margin-left:auto;
	width: 400px;
}

.styles__styles__CenterItem__centerItem___2PcSs___numLx___koCLx{
	width: calc(90%);
	margin:auto;
	text-align: center;
}.styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM{
	/*background-color: #e8e8e8;*/
}

.styles__styles__App__pageColor___2s9Lb___9UBwq___1rbNM hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
}

.styles__styles__App__flexContainer___wvrxn___3nV4F___8yv9l {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.styles__styles__App__subPage___3ouZj___3MH-H___2ehRK {
/*border: 1px solid gray;*/
flex-basis: 100%;
margin: 40px 5px 40px 5px;
	/*background-color:paleturquoise;*/
/*column-count: 2;*/
	padding-bottom:40px;
min-height: calc(100vh - 80px);
}

.styles__styles__App__nav___1gmOw___3lxSq___2XZ45 li{
	display:inline-block;
	text-align: center;

}

.styles__styles__App__nav___1gmOw___3lxSq___2XZ45 a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.styles__styles__App__nav___1gmOw___3lxSq___2XZ45 a:hover{
	background-color:pink;
}

.styles__styles__App__nav___1gmOw___3lxSq___2XZ45{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%
}.styles__ImgAndInfo__imgAndInfoContainer___2pt59___1tDp-{
/*	display:flex;
	flex-wrap: wrap;*/


}

.styles__ImgAndInfo__imgContainer___1LTNr___3caaL{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__ImgAndInfo__imgContainer___1LTNr___3caaL img{
	margin:auto;
	display:block;
}

.styles__ImgAndInfo__infoContainer___fQ6sb___19xC6{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.styles__ImgAndInfo__title___2TVeQ___zDdSI{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.styles__ImgAndInfo__info___1JFjn___68Yx9{
	word-wrap: break-word;
	width:400px;


}

.styles__ImgAndInfo__links___doS-b___2Tcfo{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.styles__ImgAndInfo__imgAndInfoContent___2bJ8S___2kc9B{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

.styles__ImgAndInfo__leftContentContainer___2Jt6X___3g4PO{
	margin-right:auto;
	width: 400px;
}

.styles__ImgAndInfo__rightContentContainer___1zNc4___1RZ4m{
margin-left:auto;
	width: 400px;
}

.styles__CenterItem__centerItem___2PcSs___numLx{
	width: calc(90%);
	margin:auto;
	text-align: center;
}.styles__App__pageColor___2s9Lb___9UBwq{
	/*background-color: #e8e8e8;*/
}

.styles__App__pageColor___2s9Lb___9UBwq hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
}

.styles__App__flexContainer___wvrxn___3nV4F {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.styles__App__subPage___3ouZj___3MH-H {
/*border: 1px solid gray;*/
flex-basis: 100%;
margin: 40px 5px 40px 5px;
	/*background-color:paleturquoise;*/
/*column-count: 2;*/
	padding-bottom:40px;
/*min-height: calc(100vh - 80px);*/
}

.styles__App__nav___1gmOw___3lxSq li{
	display:inline-block;
	text-align: center;

}

.styles__App__nav___1gmOw___3lxSq a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.styles__App__nav___1gmOw___3lxSq a:hover{
	background-color:pink;
}

.styles__App__nav___1gmOw___3lxSq{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%
}.ImgAndInfo__imgAndInfoContainer___2pt59{
/*	display:flex;
	flex-wrap: wrap;*/


}

.ImgAndInfo__imgContainer___1LTNr{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.ImgAndInfo__imgContainer___1LTNr img{
	margin:auto;
	display:block;
}

.ImgAndInfo__infoContainer___fQ6sb{
	flex-basis: calc(45%);
	min-width: 400px;
	margin:auto;

}

.ImgAndInfo__title___2TVeQ{
font-size: 24px;
font-family: "Helvetica Neue","Arial","sans-serif";
margin-bottom: 10px;
}

.ImgAndInfo__info___1JFjn{
	word-wrap: break-word;
	width:400px;


}

.ImgAndInfo__links___doS-b{
	text-decoration: underline;
	color: black;
	cursor:pointer;
	margin-top: 15px;
}

.ImgAndInfo__imgAndInfoContent___2bJ8S{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}

.ImgAndInfo__leftContentContainer___2Jt6X{
	margin-right:auto;
	width: 400px;
}

.ImgAndInfo__rightContentContainer___1zNc4{
margin-left:auto;
	width: 400px;
}

.CenterItem__centerItem___2PcSs{
	width: calc(90%);
	margin:auto;
	text-align: center;
}.App__pageColor___2s9Lb{
	/*background-color: #e8e8e8;*/
}

.App__pageColor___2s9Lb hr{
	border-style: solid;
	border-width: .5px;
	border-color: lightgrey;
	width:93%;
}

.App__flexContainer___wvrxn {
	display: flex;
flex-direction: column;
	margin-top:50.5px;
}
.App__subPage___3ouZj {
/*border: 1px solid gray;*/
flex-basis: 100%;
margin: 60px 5px 40px 5px;
	/*background-color:paleturquoise;*/
/*column-count: 2;*/
	padding-bottom:40px;
/*min-height: calc(100vh - 80px);*/
}

.App__nav___1gmOw li{
	display:inline-block;
	text-align: center;

}

.App__nav___1gmOw a{
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

.App__nav___1gmOw a:hover{
	background-color:pink;
}

.App__nav___1gmOw{
	text-align: center;
	position:fixed;
	overflow:hidden;
	background-color: white;
	top:0px;
	width:100%
}